@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-module {
        @apply
        flex 
        border-b-2 
        border-transparent 
        hover:border-blue-300 
        transition  
        duration-150 
        px-4 
        pb-3 
        hover:bg-gray-300 
        hover:rounded-t-md 
        hover:text-white
    }
    .button-post {
        @apply
        flex 
        items-center 
        border 
        border-blue-200 
        rounded-md 
        px-2 
        py-1 
        bg-blue-500
        text-white 
        hover:bg-gray-100 
        hover:text-black
    }
    .button-post-delete {
        @apply
        flex 
        items-center 
        border 
        border-red-200
        rounded-md 
        px-2 
        py-1 
        bg-red-500
        text-white 
        hover:bg-gray-100 
        hover:text-black
    }
    .form-input {
        @apply
        w-full
        px-3 
        py-2 
        border 
        rounded-md 
        focus:outline-none 
        focus:border-blue-300
    }
    .active-nav {
        @apply
        border-b-2 
        border-transparent 
        border-blue-300
    }
}